body {
    max-width: auto;
    margin: auto;
}

#first-logo {
    color:white;
}

#second-logo {
    color: white;
    text-align: center;
}

#top-line {
    color: white;
    padding: 10px;
}

#bottom-line {
    color: white;
    padding: 10px;
}

.header {
    background-color: burlywood;
    height:200px;
}

.first-section {
    background-image: url(../images/shelton.jpg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
}

.album-title {
    box-sizing: border-box;
    margin-left: 20%;
    padding-top: 100px;
    width: 300px;
    height: 350px;
}

.album-title h2 {
    color: rgb(43, 100, 100);
    text-align: center;
    margin: 0;
}

#album {
    width: 300px;
    height: 300px;
    
}